<% if signed_in? %>
  <div class="center hero-unit">

    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <%= link_to image_tag("/assets/evertribethumbnail.png"), games_evertribe_path %>
          <h5>EverTribe</h5>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to image_tag("/assets/galaxyquestthumbnail.png"), games_galaxyquest_path %>
          <h5>GalaxyQuest</h5>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to image_tag("/assets/dungeoneerthumbnail.png"), games_dungeoneer_path %>
          <h5>Dungeoneer</h5>
        </div>
      </li>
    </ul>

  </div>

<% else %>
  <div class="center hero-unit">
    <h1>Whoops!</h1>

    <h2>
      We're sorry for the incovenience but you need to sign up to play the beta!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>